/* Reset de estilos */
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #636e72, #2d3436);
    margin: 0;
    padding: 0;
}

/* Contenedor del menú */
.menu {
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: #2c3e50;
    padding-top: 20px;
    transition: width 0.3s ease-in-out;
}

.menu:hover {
    width: 280px;
}

/* Título del menú */
.menu h2 {
    color: white;
    text-align: center;
    font-size: 22px;
    padding-bottom: 15px;
    border-bottom: 2px solid #ecf0f1;
}

/* Lista de enlaces */
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 15px;
    border-bottom: 1px solid #34495e;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: background 0.3s;
}

.menu ul li a:hover {
    background: #1abc9c;
    border-radius: 5px;
    padding-left: 10px;
}

/* Íconos de menú */
.menu ul li a i {
    margin-right: 10px;
    font-size: 18px;
}

/* Para mejorar la lista de tareas y que no quede debajo del menú */
.task-container {
    margin-left: 270px; /* Corrección para que no quede debajo del menú */
    padding: 20px;
}


/* Contenedor principal */
.main-content {
    flex: 1;
    padding: 20px;
    margin-left: 250px; /* Espacio para la sidebar */
}

/* Barra superior */
.top-bar {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 50px;
    width: 100%;
}

/* Estilos de los mensajes flash */
.flash_messages {
    opacity: 1;
    transition: opacity 0.5s ease-out, visibility 0.5s linear;
}
.flash_messages.hidden {
    opacity: 0;
    visibility: hidden;
}

.task-summary {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.column {
    width: 30%;
    padding: 15px;
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.column h2 {
    text-align: center;
    color: #333;
}

.task {
    background: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
