<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <!-- Si ambos archivos están en la misma carpeta, usa: -->
  <!-- <link rel="stylesheet" href="login.css"> -->
  <!-- O, si el archivo está en otra carpeta, ajusta la ruta -->
  <link rel="stylesheet" href="../static/css/login.css">

</head>
<body>
<!-- Mostrar mensajes -->
        <div class="mensages">
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  <ul class="flash_messages">  <!-- Agregamos la clase aquí -->
                      {% for category, message in messages %}
                          <li class="{{ category }}">{{ message }}</li>
                      {% endfor %}  
                  </ul>
              {% endif %}
          {% endwith %}
        </div>

        <style>
          /* Animación de desvanecimiento */
          .flash_messages {
              transition: opacity 0.5s ease-out;
          }
        </style>

        <script>
          setTimeout(function() {
              var flashMessages = document.querySelector('.flash_messages');  // Selecciona el <ul> con los mensajes
              if (flashMessages) {
                  flashMessages.style.opacity = '0';  // Reduce la opacidad a 0 para desvanecerlo

                  setTimeout(function() {
                      flashMessages.style.display = 'none';  // Oculta completamente después de la animación
                  }, 500);  // Espera 500ms más para que termine la animación
              }
          }, 1000);  // Espera 1 segundo antes de iniciar el desvanecimiento
        </script>


<div class="container">
    <img src="../static/img/login.jpg" alt="login">
    
    <h1>Sign In </h1>
    <form method="POST" action="{{ url_for('login') }}">
      <div class="group1">
        <label for="correo">Correo</label>
        <input type="text" name="correo" id="correo" placeholder="Correo">
      </div>
      <div class="group1">
        <label for="clave">Clave</label>
        <input type="password" name="clave" id="clave" placeholder="Clave">
      </div>
      <div class="group1">
        <button type="submit">Iniciar secion</button>
      </div>
    </form>
  </div>

  <p>NO tienes cuenta <a href="{{ url_for('register') }}">Registrate aquí</a></p>

      

</body>
</html>
