<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard of Task</title>
    <link rel="stylesheet" href="../static/css/principal.css">
</head>
<body>
    <div class="sidebar">
        <h2>Menú</h2>
        <ul>
            <li class="new-item">
                <a class="nav-link" href="{{ url_for('principal') }}">Inicio</a>
            </li>
            <li class="new-item">
                <a class="nav-link" href="{{ url_for('tareas') }}">Tareas</a>
            </li>
        </ul>
    </div>

    {% block content %}
    <div class="main-content">
        <!-- Mostrar mensajes -->
        <div class="messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flash_messages">
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>

        <div class="top-bar">
            <h2>Bienvenido {{ usuario.nombre }}</h2>
        </div>

       
            <div class="task-summary">
                <div class="colum">
                    <h2>Pendientes</h2>
                    {% for tarea in pendientes %}
                        <div class="task">{{ tarea.nombre }}</div>
                    {% endfor %}
                </div>
                <div class="colum">
                    <h2>Progresos</h2>
                    {% for tarea in progreso %}
                        <div class="task">{{ tarea.nombre }}</div>
                    {% endfor %}
                </div>
                <div class="colum">
                    <h2>Completados</h2>
                    {% for tarea in completado %}
                        <div class="task">{{ tarea.nombre }}</div>
                    {% endfor %}
                </div>
            </div>
        
    </div>

    <style>
        /* Animación de desvanecimiento */
        .flash_messages {
            opacity: 1;
            transition: opacity 0.5s ease-out, visibility 0.5s linear;
        }
        .flash_messages.hidden {
            opacity: 0;
            visibility: hidden;
        }
    </style>

    <script>
        setTimeout(function() {
            var flashMessages = document.querySelector('.flash_messages');
            if (flashMessages) {
                flashMessages.classList.add('hidden');
            }
        }, 1000);
    </script>
    {% endblock content %}
</body>
</html>
